div.row-fluid
  div#info.span12.well 
    strong Scanning #{Object.keys(endpoints).length} Open311 endpoints every 5 minutes. Last scan at #{endpoints.bainbridge.services.requestedAt}.  
      | For endpoint information visit the 
      a(href="http://wiki.open311.org/GeoReport_v2/Servers") Open311 Wiki
      | .

div.row-fluid  
  div#status.span12

    table#endpoints.table.table-bordered.table-striped
      thead
        tr
          th Endpoint
          th Services
          th Requests
          th # of SR Types
          th # of Requests 
            span.label.label-info during last hour

      tbody
        - each endpoint, city in endpoints
          tr
            td= city
            td
              - if (endpoint.services.statusCode != 200)
                - var tooltip = 'Server responded with "' + endpoint.services.statusCode + '" after ' + endpoint.services.responseTime + "ms"
                  li(class="btn btn-danger", rel="tooltip", title=tooltip) Error
              - else
                - if (endpoint.services.responseTime > 999)
                  - var tooltip = "Slow server response: " + endpoint.services.responseTime + "ms"
                  li(class="btn btn-warning", rel="tooltip", title=tooltip) Slow
                - else 
                    - var tooltip = "Server response: " + endpoint.services.responseTime + "ms"
                    li(class="btn btn-success", rel="tooltip", title=tooltip) Okay
            td
              - if (endpoint.requests.statusCode != 200)
                - var tooltip = 'Server responded with "' + endpoint.requests.statusCode + '" after ' + endpoint.requests.responseTime + "ms"
                  li(class="btn btn-danger", rel="tooltip", title=tooltip) Error
              - else
                - if (endpoint.requests.responseTime > 999)
                  - var tooltip = "Slow server response: " + endpoint.requests.responseTime + "ms"
                  li(class="btn btn-warning", rel="tooltip", title=tooltip) Slow
                - else 
                    - var tooltip = "Server response: " + endpoint.requests.responseTime + "ms"
                    li(class="btn btn-success", rel="tooltip", title=tooltip) Okay
            td 
              a(data-toggle="modal", data-city=city, href="#servicesModal") #{endpoint.services.servicesCount} types
            td 
              a(href=endpoint.requests.url)= endpoint.requests.requestsCount

h2 Realtime-ish Service requests
  sup.label.label-info delayed by 1 hour for slow-to-update endpoints

table#service-requests.table.table-bordered.table-striped
  thead 
    tr
      th Endpoint
      th Type
      th Description
      th Image
      th Created
  tbody
    - each serviceRequest in serviceRequests
      tr
        td= serviceRequest.endpoint
        td= serviceRequest.service_name
        td= serviceRequest.description
        - if (serviceRequest.media_url)
          td
            img(src=serviceRequest.media_url)
        - else
          td
        td= serviceRequest.requested_datetime



div#servicesModal.modal.hide
  div#servicesAjax
    div.modal-body loading . . .
  div.modal-footer
    button.btn(type="submit", data-dismiss="modal") Close window
