div.row-fluid
  div#info.span12.well 
    - if (endpoints[0].servicesPing)
      strong Scanning #{endpoints.length} Open311 endpoints every 5 minutes. Last scan at #{endpoints[0].servicesPing.requestedAt}.  
        | For endpoint information visit the 
        a(href="http://wiki.open311.org/GeoReport_v2/Servers") Open311 Wiki
        | .

div.row-fluid  
  div#status.span12

    table#endpoints.table.table-bordered.table-striped
      thead
        tr
          th Endpoint
          th Services
          th Requests
          th Request Types
          th Submitted Requests  
            span.label.label-info 48 hours
          th total
          th min/hour
          th max/hour
          th avg/hour


      tbody
        - each endpoint in endpoints
          tr
            td= endpoint.endpoint
            td
              - if (endpoint.servicesPing)
                - if (endpoint.servicesPing.statusCode != 200)
                  - var tooltip = 'Server responded with "' + endpoint.servicesPing.statusCode + '" after ' + endpoint.servicesPing.responseTime + "ms"
                    a(class="btn btn-mini btn-danger", href=endpoint.servicesPing.url, rel="tooltip", title=tooltip) Error
                - else
                  - if (endpoint.servicesPing.responseTime > 999)
                    - var tooltip = "Slow server response: " + endpoint.servicesPing.responseTime + "ms"
                    a(class="btn btn-mini btn-warning", href=endpoint.servicesPing.url, rel="tooltip", title=tooltip) Slow
                  - else 
                    - var tooltip = "Server response: " + endpoint.servicesPing.responseTime + "ms"
                      a(class="btn btn-mini btn-success", href=endpoint.servicesPing.url, rel="tooltip", title=tooltip) Okay
              - else 
                - var tooltip = "Server response: Indeterminate"
                  div(class="btn btn-mini", rel="tooltip", title=tooltip) ? ? ?
            td
              - if (endpoint.requestsPing)
                - if (endpoint.requestsPing.statusCode != 200)
                  - var tooltip = 'Server responded with "' + endpoint.requestsPing.statusCode + '" after ' + endpoint.requestsPing.responseTime + "ms"
                    a(class="btn btn-mini btn-danger", href=endpoint.requestsPing.url, rel="tooltip", title=tooltip) Error
                - else
                  - if (endpoint.requestsPing.responseTime > 999)
                    - var tooltip = "Slow server response: " + endpoint.requestsPing.responseTime + "ms"
                    a(class="btn btn-mini btn-warning", href=endpoint.requestsPing.url, rel="tooltip", title=tooltip) Slow
                  - else 
                      - var tooltip = "Server response: " + endpoint.requestsPing.responseTime + "ms"
                      a(class="btn btn-mini btn-success", href=endpoint.requestsPing.url, rel="tooltip", title=tooltip) Okay
              - else
                - var tooltip = "Server response: Indeterminate"
                  div(class="btn btn-mini", rel="tooltip", title=tooltip) ? ? ?
            td
              - if(endpoint.servicesPing)
                a(data-toggle="modal", data-city=endpoint.endpoint, href="#servicesModal") #{endpoint.servicesPing.servicesCount} types
            td
              div(class="sparkline", data-values=endpoint.requests.timeSeries.toString())
            td
              a(data-toggle="modal", data-city=endpoint.endpoint, href="#serviceRequestsModal")= endpoint.requests.total
            td
              = endpoint.requests.min
            td
              = endpoint.requests.max
            td
              = Math.round(endpoint.requests.avg*100)/100



h2 Yesterday's Service Requests 
  sup.label.label-info realtime minus one day

table#service-requests.table.table-bordered.table-striped
  thead 
    tr
      th Endpoint
      th Type
      th Description
      th Image
      th Created
  tbody
    - each serviceRequest in serviceRequests
      tr
        td= serviceRequest.endpoint
        td= serviceRequest.service_name
        td= serviceRequest.description
        - if (serviceRequest.media_url)
          td
            img(src=serviceRequest.media_url)
        - else
          td
        td= serviceRequest.requested_datetime



div#servicesModal.modal.hide
  div#servicesAjax
    div.modal-body loading . . .
  div.modal-footer
    button.btn(type="submit", data-dismiss="modal") Close window

div#serviceRequestsModal.modal.hide
  div#serviceRequestsAjax
    div.modal-body loading . . .
  div.modal-footer
    button.btn(type="submit", data-dismiss="modal") Close window
