div.row-fluid
  div#info.span12.well 
    strong Scanning #{endpoints.length} Open311 endpoints every 5 minutes. Last scan at #{endpoints[0].servicesPing.requestedAt}.  
      | For endpoint information visit the 
      a(href="http://wiki.open311.org/GeoReport_v2/Servers") Open311 Wiki
      | .

div.row-fluid  
  div#status.span12

    table#endpoints.table.table-bordered.table-striped
      thead
        tr
          th Endpoint
          th Services
          th Requests
          th Public Types
          th Submitted Requests  
            span.label.label-info 48 hours
          th total
          th min
          th max
          th avg


      tbody
        - each endpoint in endpoints
          tr
            td= endpoint.endpoint
            td
              - if (endpoint.servicesPing.statusCode != 200)
                - var tooltip = 'Server responded with "' + endpoint.servicesPing.statusCode + '" after ' + endpoint.servicesPing.responseTime + "ms"
                  li(class="btn btn-mini btn-danger", rel="tooltip", title=tooltip) Error
              - else
                - if (endpoint.servicesPing.responseTime > 999)
                  - var tooltip = "Slow server response: " + endpoint.servicesPing.responseTime + "ms"
                  li(class="btn btn-mini btn-warning", rel="tooltip", title=tooltip) Slow
                - else 
                    - var tooltip = "Server response: " + endpoint.servicesPing.responseTime + "ms"
                    li(class="btn btn-mini btn-success", rel="tooltip", title=tooltip) Okay
            td
              - if (endpoint.requestsPing.statusCode != 200)
                - var tooltip = 'Server responded with "' + endpoint.requestsPing.statusCode + '" after ' + endpoint.requestsPing.responseTime + "ms"
                  li(class="btn btn-mini btn-danger", rel="tooltip", title=tooltip) Error
              - else
                - if (endpoint.requestsPing.responseTime > 999)
                  - var tooltip = "Slow server response: " + endpoint.requestsPing.responseTime + "ms"
                  li(class="btn btn-mini btn-warning", rel="tooltip", title=tooltip) Slow
                - else 
                    - var tooltip = "Server response: " + endpoint.requestsPing.responseTime + "ms"
                    li(class="btn btn-mini btn-success", rel="tooltip", title=tooltip) Okay
            td 
              a(data-toggle="modal", data-city=endpoint.endpoint, href="#servicesModal") #{endpoint.servicesPing.servicesCount} types
            td
              div(class="sparkline", data-values=endpoint.requests.timeSeries.toString())
            td
              a(data-toggle="modal", data-city=endpoint.endpoint, href="#serviceRequestsModal")= endpoint.requests.total
            td
              = endpoint.requests.min
            td
              = endpoint.requests.max
            td
              = Math.round(endpoint.requests.avg*100)/100 // Round to 2 decimal places



h2 Realtime-ish Service requests
  sup.label.label-info delayed by 1 hour for slow-to-update endpoints

table#service-requests.table.table-bordered.table-striped
  thead 
    tr
      th Endpoint
      th Type
      th Description
      th Image
      th Created
  tbody
    - each serviceRequest in serviceRequests
      tr
        td= serviceRequest.endpoint
        td= serviceRequest.service_name
        td= serviceRequest.description
        - if (serviceRequest.media_url)
          td
            img(src=serviceRequest.media_url)
        - else
          td
        td= serviceRequest.requested_datetime



div#servicesModal.modal.hide
  div#servicesAjax
    div.modal-body loading . . .
  div.modal-footer
    button.btn(type="submit", data-dismiss="modal") Close window

div#serviceRequestsModal.modal.hide
  div#serviceRequestsAjax
    div.modal-body loading . . .
  div.modal-footer
    button.btn(type="submit", data-dismiss="modal") Close window
