div.row-fluid
  div#info.span12.well 
    strong Scanning #{Object.keys(endpoints).length} Open311 endpoints every 15 minutes. Last scan at #{servicesPings[0].requestedAt}.  
      | For endpoint information visit the 
      a(href="http://wiki.open311.org/GeoReport_v2/Servers") Open311 Wiki
      | .

div.row-fluid  
  div#status.span12

    h2 Services Method
    ul
      - each servicesPing in servicesPings
        - if (servicesPing.statusCode == 200)
          li(class="btn btn-important") #{servicesPing.endpoint}
          = " " 
        - else
            - if (servicesPing.responseTime > 999)
              - var tooltip = "Slow server response: " + servicesPing.responseTime + "ms"
                li(class="btn btn-warning", rel="tooltip", title=tooltip) #{servicesPing.endpoint}
                = " " 
            - else 
                li(class="btn btn-success") #{servicesPing.endpoint}
                = " " 

    h2 Requests Method
      span.label.label-info opened in last 15 minutes
    ul
      - each requestsPing in requestsPings
        - if (requestsPing.statusCode == 200)
          li(class="btn btn-important") #{requestsPing.endpoint}
          = " " 
        - else
            - if (requestsPing.responseTime > 999)
              - var tooltip = "Slow server response: " + requestsPing.responseTime + "ms"
                li(class="btn btn-warning", rel="tooltip", title=tooltip) #{requestsPing.endpoint}
                = " " 
            - else 
                li(class="btn btn-success") #{requestsPing.endpoint}
                = " " 

