div.modal-header
  button.close(data-dismiss="modal") ×
  h2 #{endpoint} service requests

div.modal-body
  table#service-requests.table.table-bordered.table-striped
    thead
      tr
        th Type
        th Description
        th Image
        th Requested
    tbody
      - each serviceRequest in serviceRequests
        tr
          td= serviceRequest.service_name
          td= serviceRequest.description
          - if (serviceRequest.media_url)
            td
              img(src=serviceRequest.media_url)
          - else
            td
          td= serviceRequest.requested_datetime
