!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Open311 Status'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Open311status'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_pack_tag 'application'
    = csrf_meta_tags
    = render 'shared/google_analytics'
  %body
    .wrap-body
      %header
        = render 'layouts/navigation'
      %main{:role => "main"}
        .container
          = render 'layouts/messages'
          = yield
    %footer.page-footer.wrap-footer
      = render 'layouts/footer'
